//  Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap");
// scss import

@import "./variables";
@import "./header";
@import "./responsive";
@import "./home";
@import "./product";
@import "./cart";
@import "./footer";

// css reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}
body {
  font-family: "Big Shoulders Text", sans-serif;
  background-color: $bg-color;
  color: $text-color;
}
.container {
  max-width: 1070px;
  width: 100%;
  margin: auto;
}
